minInstances: 1
maxInstances: 5
dbPath: ./db/test-monitor.db
monitorOpts:
  asgServerHost: 127.0.0.1
  asgServerPort: 50001
  samplingLambda: 6.5
  pushFrequencySecs: 10
pingOpts:
  responseTimeoutSecs: 3
  responseCount: 3
awsOpts:
  awsRegion: us-east-1
  accessKey: xxxx
  secretKey: xxxx
  sessionToken: xxxx
  ec2Opts:
    amiId: ami-0557a15b87f6559cf
    securityGroups:
    - "sg-02b81e14efea62542"
    - "sg-060f019b80316c35a"
    - "sg-09d74eb949ad0da22"
    instanceType: T2_Small
    namePrefix: gobbledygook
    keypair: vockey
    subnetId: subnet-05c67d31dd4cfee18
logLevel: Debug
