[Unit]
Description=Monitor client service

[Service]
User=root
WorkingDirectory=/opt/asg
ExecStart=/opt/asg/hsmonitor
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
